{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/recommended"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "ignorePatterns": ["node_modules/*", ".next/*", ".out/*"],
    "plugins": ["react", "@typescript-eslint"],
    "rules": {
        "eqeqeq": 1,
        "comma-dangle": 0,
        "no-console": 0,
        "no-debugger": 1,
        "no-extra-semi": 2,
        "no-extra-parens": 0,
        "no-irregular-whitespace": 0,
        "no-unused-vars": 1,
        "@typescript-eslint/no-unused-vars": 1,
        "semi": 0,
        "semi-spacing": 1,
        "react/prop-types": [2, { "skipUndeclared": true }],
        "react/display-name": 2,
        "react/jsx-boolean-value": 2,
        "react/self-closing-comp": 1
    }
}
